body {
	font-family: 'Open Sans', Arial, sans-serif;
}
a, a:focus, a:hover, a:active {
    outline: 0 !important;
}
/*.aktuelno {
	background-color: #2d2d37;
}*/

/* 	=============
	page navigation  */
.navbar-brand {
	padding: 5px 0 0 30px;
}
.navbar {
    background: #333;
    border: none;
    border-radius: 0;
    margin: 0;
    padding-bottom: 0;
    min-height: 70px;
}
.navbar-nav>li>a {
	color: #FFF;
	font-weight: bold;
}
.navbar-nav>li>a:hover,
.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
	background: none;
	color: #c94645;
}
.navbar-nav>li>a:focus {
    background: none;
	color: #FFF;
}
.navbar-toggle {
	margin: 15px 20px 15px 0;
	border: none;
	border-radius: 0;
}
.navbar-toggle .icon-bar {
	background-color: #FFF;
	width: 25px;
	height: 1px;
	margin-bottom: 7px;
}
.navbar-toggle .icon-bar:last-child {
	margin-bottom: 0;
}
.navbar-toggle:focus,
.navbar-toggle:hover {
	background:none;
}
.navbar-toggle:hover .icon-bar {
	background: #c94645 !important;
}
.navbar-collapse {
	border: none;
	box-shadow: none;
}
.navbar-collapse .nav>li>a {
	padding: 20px 0 20px 30px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-size: 12px;
}

/* 	=============
	jumbotron  */
.jumbotron {
	position: relative;
	height: 500px;
	background: url('../images/bg-1.jpg') no-repeat;
	background-size: 100%;
	background-position: center bottom;
}
.title {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 21;
}
.title-industrija {
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-size: 33px;
}
.title-kolasin {
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 64px;
}
.title-kolasin::after {
	content: "";
    display: inline-block;
    width: 160px;
    height: 10px;
    background: #c94645;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -80px;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 11;
}
/* extra Small devices (old phone, max 480) */
@media only screen and (max-width : 480px) {
	/* 	=============
	page navigation  */
	.navbar-brand {
		padding-left: 20px;
	}
	.navbar-toggle {
		margin-right: 10px;
	}
	.navbar-collapse .nav>li>a {
		padding-left: 20px;
	}
	/* 	=============
	jumbotron  */
	.jumbotron {
		height: 450px;
	}
	.title-industrija {
		font-size: 22px;
	}
	.title-kolasin {
		font-size: 44px;
	}
	.title-kolasin::after {
	    width: 120px;
	    margin-left: -60px;
	}
} /* end of max-width: 480px */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/* 	=============
	page navigation  */
	.navbar .navbar-nav {
	    display: inline-block;
	    float: none;
	} /* need for center navbar horizontal */
	#navigacija {
	    text-align: center;
	} /* center navbar horizontal */

	.navbar {
		height: 75px;
	}
	.navbar .container {
		padding: 0;
	}
	.navbar-collapse {
		padding: 0;
	}
	.navbar-collapse .nav>li>a {
		padding: 25px 0 5px 30px;
	}
	.navbar-collapse .nav>li>a.hidden-xs {
		padding: 5px 0 5px 30px; 
	}
	.navbar-collapse .nav>li>a.hidden-xs img {
		width: 100px;
	}
	/* 	=============
	jumbotron  */
	.jumbotron {
		height: 550px;
	}
	.title {
		top: 30%;
	}
	h1.title-industrija {
		font-size: 36px;
	}
	h1.title-kolasin {
		font-size: 72px;
	}	
} /* end of min-width: 768px */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.navbar-collapse .nav>li>a {
		padding: 25px 30px 30px;
	}
	.navbar-collapse .nav>li>a.hidden-xs {
		padding: 5px 30px; 
	}
	.navbar-collapse .nav>li>a.hidden-xs img {
		width: 110px;
		height: 60px;
	}
} /* end of min-width: 992x */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.navbar {
		height: 80px;
	}
	.navbar-collapse .nav>li>a {
		padding: 30px 45px 30px;
	}
	.navbar-collapse .nav>li>a.hidden-xs {
		padding: 10px 40px; 
	}
	/* 	=============
	jumbotron  */
	.jumbotron {
		height: 800px;
	}
	.title {
		top: 30%;
	}
	h1.title-industrija {
		font-size: 52px;
	}
	h1.title-kolasin {
		font-size: 104px;
	}	
} /* end of min-width: 1200px */