body {
	font-family: 'Open Sans', Arial, sans-serif;
}
a, a:focus, a:hover, a:active {
    outline: 0 !important;
}
a.read-more {
	text-transform: uppercase;
	color: #c74645;
	font-weight: bold;
	padding: 20px 0;
}
a.read-more:hover {
	text-decoration: none;
	color: #fc5b5a;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 5px;
	position: relative;
	padding-bottom: 100px;
}
.pod-naslov {
	display: inline-block;
	font-size: 16px;
	color: #c94645;
	margin-bottom: 20px;
	font-weight: 300;
}
h1::after {
	content: "";
    display: inline-block;
    width: 80px;
    height: 10px;
    background: #c94645;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -40px;
}
/* 	=============
	page navigation  */
.navbar-brand {
	padding: 5px 0 0 30px;
}
.navbar {
    background: #363643;
    border: none;
    border-radius: 0;
    margin: 0;
    padding-bottom: 0;
    min-height: 70px;
}
.navbar-nav>li>a {
	color: #FFF;
	font-weight: bold;
}
.navbar-nav>li>a:hover,
.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
	background: none;
	color: #c94645;
}
.navbar-nav>li>a:focus {
    background: none;
	color: #FFF;
}
.navbar-toggle {
	margin: 15px 20px 15px 0;
	border: none;
	border-radius: 0;
}
.navbar-toggle .icon-bar {
	background-color: #FFF;
	width: 25px;
	height: 1px;
	margin-bottom: 7px;
}
.navbar-toggle .icon-bar:last-child {
	margin-bottom: 0;
} /* poslednji link no padding*/
.navbar-toggle:focus,
.navbar-toggle:hover {
	background:none;
}
.navbar-toggle:hover .icon-bar {
	background: #c94645 !important;
}
.navbar-collapse {
	border: none;
	box-shadow: none;
}
.navbar-collapse .nav>li>a {
	padding: 20px 0 20px 30px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-size: 12px;
}

/* 	=============
	.jumbotron on homepage */
.jumbotron {
	position: relative;
	height: 500px;
	background: url('../images/bg-1.jpg') no-repeat;
	background-size: 100%;
	background-position: center bottom;
}
.title {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 21;
}
.title-industrija {
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-size: 33px;
}
.title-kolasin {
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 64px;
}
.title-kolasin::after {
	content: "";
    display: inline-block;
    width: 160px;
    height: 10px;
    background: #c94645;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -80px;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 11;
}

/* 	=============
	section .usluge on homepage  */
.usluge, 
.reference {
	margin: 80px 0;
}
.usluge i {
	color: #c74645;
}
.usluge h2 {
	margin: 25px 0 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}
.usluge p {
	color: rgba(255,255,255,.5);
	margin-bottom: 30px;
}
.podusluge {
	padding: 0;
	position: relative;
	color: #fff;
}
.podusluge:hover .podusluga-in {
    opacity: 0.8;
}
.podusluga-in {
	padding: 80px 30px;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
.podusluga-hover-1 {
	background: #363643;
}
.podusluga-hover-2 {
	background: #33333f;
}
.podusluga-hover-3 {
	background: #30303b;
}
.podusluga-hover-4 {
	background: #2d2d37;
}

/* 	=============
	section .aktuelno on homepage  */

/*.aktuelno {
	background-color: #2d2d37;
} container-fluid i fotografija preko celog ekrana (full width) */

.aktuelno {
	text-align: center
}
.aktuelno img {
	margin: 0 auto;
}
.aktuelno h3 {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 60px;
}
.aktuelno p {
	font-size: 16px;
	margin: 30px 0;
}

/* 	=============
	section .reference on homepage  */
.reference {
	text-align: center;
}
.radovi {
	padding: 0;
}
a.link-ka-referenci {
	color: #2d2d37;
}
a.link-ka-referenci:hover {
	text-decoration: none;
	color: #fff;
}
a.link-ka-referenci:hover .caption {
	background: #2d2d37;
	-webkit-transition: background 0.4s ease-in-out;
	transition: background 0.4s ease-in-out;
}
.radovi .caption {
	padding: 40px 20px;
}
.naslov-reference {
	margin: 0 0 20px 0;
	color: #a1a1b2;
	letter-spacing: 5px;
	font-size: 14px;
	text-transform: uppercase;
}
a.link-ka-referenci:hover .naslov-reference {
	color: #c74645;
}
.text-reference {
	margin: 0;
	letter-spacing: 3px;
	font-size: 14px;
	text-transform: uppercase;
}
.reference .read-more {
	font-size: 32px;
	padding: 40px 50px;
}

/* 	=============
	section .saradnja on homepage  */
.saradnja {
	background-color: #2d2d37;
	padding: 80px 0;
	margin-bottom: 60px;
	text-align: center;
	color: #fff;
} 
.saradnja img {
	margin: 30px auto;
}
.carousel-caption {
	position: static;
}
.carousel p {
	margin: -20px 0 40px 0;
}
.carousel-indicators .active {
	border: none;
	background: #c94645;
}
.carousel-indicators li {
	background: #000;
	border: none;
}

/* 	=============
	footer  */
.page-footer {
	position: relative;
}
.page-footer h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	position: relative;
	padding: 20px 0 30px;
}
.page-footer h3::after {
	content: "";
    display: inline-block;
    width: 60px;
    height: 6px;
    background: #c94645;
    position: absolute;
    bottom: 10px;
    left: 0;
}
/* footer nav */
.footer-nav li {
	margin: 10px 0;
}
.footer-nav a {
	text-transform: uppercase;
	color: rgb(51, 51, 51);
	padding: 10px 0;
}
.footer-nav a:hover {
	text-decoration: none;
	color: #fc5b5a;
}
.footer-nav a.active {
	color: #fc5b5a;
	font-weight: bold;
}
/* footer info */
.info li {
	padding: 10px 0;
}
.info i {
	margin-right: 10px;
}

/* footer copyright */
.copyright {
	background-color: #2d2d37;
	color: #fff;
	margin-top: 60px;
	padding: 30px 0 20px;
}

/* to-fb button */
a.to-fb {
	color: #fff;
	background-color: #2d2d37;
	padding: 8px 13px;
	font-size: 19px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.to-fb:hover {
	background-color: #c94645;
}

/* 	=============
	O NAMA.html */
.o-kompaniji,
.kontakt {
	margin: 80px 0;
}
.o-kompaniji .no-padding {
	padding: 0;
}
.o-kompaniji-in {
	background-color: #2d2d37;
	color: rgba(255,255,255,.7);
	line-height: 1.6;
	padding: 60px 30px 30px;
	font-size: 16px;
	margin: -15px 0;
}
.o-kompaniji p {
	padding-bottom: 30px;
}

/* 	=============
	kontakt.html */
.form-group {
	margin-bottom: 30px;
}
.form-control {
	height: 45px;
	border: none;
	border-radius: 0;
	background: #f5f5f5;
	color: #555;
}
.form-control:focus {
	border-color: #c94645;
	box-shadow: none;
}
#kontakt-forma input[type="text"] {
	color: #555;
}
.kontakt .btn-default {
	text-transform: uppercase;
	background-color: #c94645;
	color: #fff;
	font-weight: bold;
	padding: 10px 25px;
	border: none;
	border-radius: 0;
	font-size: 12px;
	display: block;
	margin: 0 auto;
}
.kontakt .btn-default:hover {
	background-color: #b03c3c;
}
.kontakt-info {
	text-align: center;
	margin-top: 60px;
}
.kontakt i {
	color: #c94645;
	font-size: 20px;
}
.kontakt .first-item {
    font-size: 12px;
    text-transform: uppercase;
    color: #9797a2;
    padding: 5px 0 10px;
}
.kontakt .second-item {
    color: #000;
    font-weight: bold;
}
.margin-only {
	margin: 30px 0;
}
#map-canvas {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}
/* extra Small devices (old phone, max 480) */
@media only screen and (max-width : 480px) {
	h1,
	h2.title-kolasin {
		font-size: 24px;
	}
	.pod-naslov {
		font-size: 12px;
	}
	/* 	=============
	page navigation  */
	.navbar-brand {
		padding-left: 20px;
	}
	.navbar-toggle {
		margin-right: 10px;
	}
	.navbar-collapse .nav>li>a {
		padding-left: 20px;
	}
	/* 	=============
	jumbotron  */
	.jumbotron {
		height: 450px;
	}
	.title-industrija {
		font-size: 22px;
	}
	.title-kolasin {
		font-size: 44px;
	}
	.title-kolasin::after {
	    width: 120px;
	    margin-left: -60px;
	}
	/* 	=============
	section aktuelno on homepage  */
	.aktuelno h3 {
		font-size: 22px;
		margin-top: 30px;
	}
	.aktuelno p {
		font-size: 14px;
	}
	/* 	=============
	section aktuelno on homepage  */
	.reference .read-more {
		font-size: 18px;
		padding: 30px 20px;
	}

} /* end of max-width: 480px */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/* 	=============
	page navigation  */
	.navbar .navbar-nav {
	    display: inline-block;
	    float: none;
	} /* need for center navbar horizontal */
	#navigacija {
	    text-align: center;
	} /* center navbar horizontal */

	.navbar {
		height: 75px;
	}
	.navbar .container {
		padding: 0;
	}
	.navbar-collapse {
		padding: 0;
	}
	.navbar-collapse .nav>li>a {
		padding: 25px 0 5px 30px;
	}
	.navbar-collapse .nav>li>a.hidden-xs {
		padding: 5px 0 5px 30px; 
	}
	.navbar-collapse .nav>li>a.hidden-xs img {
		width: 100px;
	}
	/* 	=============
	jumbotron  */
	.jumbotron {
		height: 550px;
	}
	.title {
		top: 30%;
	}
	h2.title-industrija {
		font-size: 36px;
	}
	h2.title-kolasin {
		font-size: 72px;
	}	
	/* 	=============
	kontakt.html  */
	.kontakt-info {
	margin-top: 0;
}
} /* end of min-width: 768px */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.navbar-collapse .nav>li>a {
		padding: 25px 30px 30px;
	}
	.navbar-collapse .nav>li>a.hidden-xs {
		padding: 5px 30px; 
	}
	.navbar-collapse .nav>li>a.hidden-xs img {
		width: 110px;
		height: 60px;
	}
	/* 	=============
	section usluge on homepage  */
	.usluge, 
	.reference {
		margin: 120px 0;
	}
	.podusluge h2 {
		height: 40px;
	} /* zbog jednake visine kolona */
	
	/* 	=============
	section .saradnja on homepage  */
	.saradnja {
		padding: 120px 0;
		margin: 100px 0;
	}
	/* 	=============
		O NAMA.html */
	.o-kompaniji,
	.kontakt {
		margin: 120px 0;
	}
} /* end of min-width: 992x */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.navbar {
		height: 80px;
	}
	.navbar-collapse .nav>li>a {
		padding: 30px 45px 30px;
	}
	.navbar-collapse .nav>li>a.hidden-xs {
		padding: 10px 40px; 
	}
	/* 	=============
	jumbotron  */
	.jumbotron {
		height: 700px;
	}
	.title {
		top: 30%;
	}
	h2.title-industrija {
		font-size: 52px;
	}
	h2.title-kolasin {
		font-size: 100px;
	}	
} /* end of min-width: 1200px */